<footer class="footer">
  <div class="container-fluid">
    <div class="copyright float-center">
      &copy;
      Training Link. All Rights Are Reserved
      <script>
        document.write(new Date().getFullYear())
      </script>
    </div>
  </div>
</footer>