<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav" style="position: fixed;">
    <li class="nav-item">
      <a class="nav-link" href="/en/home">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/en/institutes">
        <i class="menu-icon mdi mdi-school"></i>
        <span class="menu-title">Institutes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/en/companies">
        <i class="menu-icon mdi mdi-city"></i>
        <span class="menu-title">Companies</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/en/students">
        <i class="menu-icon mdi mdi-human-male-female"></i>
        <span class="menu-title">Students</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/en/quotations">
        <i class="menu-icon mdi mdi-file-document "></i>
        <span class="menu-title">Quotations</span>
      </a>
    </li>
  </ul>
</nav>
