<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Partial -->
    <%- include('partials/head'); %>

    <title>Training Link | 404</title>

    <!-- Custom Style -->
    <style>
      .card {
        width: 500px;
        margin-top: 100px;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="card mx-auto">
              <div class="card-header card-header-primary">
                <h1 class="card-title text-center">404</h1>
              </div>
              <div class="card-body text-center"><h3>PAGE NOT FOUND</h3></div>
              <a href="/" class="text-center" style="margin: 10px 0px 10px 0px">Go To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS Scripts Partial -->
    <%- include('partials/scripts'); %>
  </body>
</html>
