<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training Link | Login</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/login-en.css">
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div id="lang">
                    <a href="/ar" class="btn btn-light btn-xs" role="button">AR</a>
                </div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/logo.png" alt="Training Link Logo" width="150px" height="auto"></figure>
                        <figure><img src="/images/signin-image.jpg" alt="sing in image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form action="/en/login" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                <input name="email" type="text" id="your_name" placeholder="Email" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock material-icons-name"></i></label>
                                <input name="password" type="password" id="your_pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <select name="type" class="custom-select">
                                    <option selected value="A">Administrator</option>
                                    <option value="I">Institute</option>
                                    <option value="C">Company</option>
                                </select>
                            </div>
                            <div class="form-group form-button text-center">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                <div style="padding-top: 10px;"><a href="/forget-password">Forget Password</a></div>
                            </div>
                        </form>
                        <div class="social-login text-center">
                            <p>By signing in you accept all <a href="/en/terms-and-conditions" class="signup-image-link"> terms and conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>