<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>وصلة تدريبية |  تسجيل الدخول</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/login-ar.css">
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div id="lang">
                    <a href="/en" class="btn btn-light btn-xs" role="button">EN</a>
                </div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/logo.png" alt="Training Link Logo" width="150px" height="auto"></figure>
                        <figure><img src="/images/signin-image.jpg" alt="sing in image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">تسجيل الدخول</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                <input type="text" name="email" id="your_name" placeholder="الأيميل" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock material-icons-name"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="كلمة السر" required/>
                            </div>
                            <div class="form-group">
                                <select name="type" class="custom-select">
                                    <option selected value="A">مدير النظام</option>
                                    <option value="I">معهد</option>
                                    <option value="C">شركة</option>
                                </select>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="تسجيل"/>
                                <div style="padding-top: 10px;"><a href="/forget-password">نسيت كلمة المرور</a></div>
                            </div>
                        </form>
                        <div class="social-login">
                            <p>تسجيل دخولك يعني أنك توافق على جميع<a href="/ar/terms-and-conditions" class="signup-image-link">الشروط والأحكام</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>