<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>وصلة تدريبية | نسيت كلمة المرور</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login-ar.css">

    <!-- Icon -->
    <link rel="shortcut icon" type="image/png" href="/images/icon.png"/>
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div id="lang">
                    <a href="/en/forget-password" class="btn btn-light btn-xs" role="button">EN</a>
                </div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/logo.png" alt="Training Link Logo" width="150px" height="auto"></figure>
                        <figure><img src="/images/signin-image.jpg" alt="sing in image"></figure>
                    </div>
                    <div class="signin-form">
                        <h3 class="form-title"><strong>نسيت كلمة المرور</strong></h3>
                        <!-- messages partial -->
                        <%- include('../partials/messages'); %>
                        <form action="/en/forget-password" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="email"><i class="mdi mdi-email"></i></label>
                                <input id="email" name="email" type="text" placeholder="الايميل"/>
                            </div>
                            <div class="form-group form-button text-center">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="ارسال"/>
                                <div style="padding-top: 10px;"><a href="/ar/login">رجوع</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>