<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Training Link | Login</title>

    <!-- CSS Files-->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/login-en.css" />

    <!-- Icon -->
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
    <style>
      .field-icon {
        float: right;
        margin-right: 8px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <!-- Sing in  Form -->
      <section class="sign-in">
        <div class="container">
          <div id="lang">
            <a href="/ar" class="btn btn-light btn-xs" role="button">AR</a>
          </div>
          <div class="signin-content">
            <div class="signin-image">
              <figure>
                <img
                  src="/images/logo.png"
                  alt="Training Link Logo"
                  width="150px"
                  height="auto"
                />
              </figure>
              <figure>
                <img src="/images/signin-image.jpg" alt="sing in image" />
              </figure>
            </div>
            <div class="signin-form">
              <h2 class="form-title">Sign In</h2>
              <!-- messages partial -->
              <%- include('../partials/messages'); %>
              <form
                action="/en/login"
                method="POST"
                class="register-form"
                id="login-form"
              >
                <div class="form-group">
                  <label for="your_name"><i class="mdi mdi-email"></i></label>
                  <input
                    id="email"
                    name="email"
                    type="text"
                    placeholder="Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                </div>
                <div class="form-group">
                  <label for="your_pass"><i class="mdi mdi-lock"></i></label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                  />
                  <span
                    id="password-field"
                    class="mdi mdi-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group form-button text-center">
                  <input
                    type="submit"
                    name="signin"
                    id="signin"
                    class="form-submit"
                    value="Log in"
                  />
                  <div style="padding-top: 10px;">
                    <a href="/en/forget-password">Forget Password</a>
                  </div>
                </div>
              </form>
              <div class="social-login text-center">
                <p>
                  By signing in you accept all
                  <a href="/en/terms-and-conditions" class="signup-image-link">
                    terms and conditions</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
    <script>
      $("#password-field").click(() => {
        $("#password-field").toggleClass("mdi-eye mdi-eye-off");
        let input = $("#password");
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });
    </script>
  </body>
</html>
