<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Partial -->
    <%- include('../partials/head'); %>

    <title>Message</title>
    <style>
      .card {
          width: 700px;
          margin-top: 100px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="card mx-auto">
            <div class="card-header card-header-primary text-center">
              <h1 class="card-title text-center">
                <%= title %>
              </h1>
            </div>
            <div class="card-body text-center">
              <h3><%= message %></h3>
              <div><a href="/">Go To Home</a></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Partial -->
    <%- include('../partials/scripts'); %>
  </body>
</html>