<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training Link | Reset Password</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login-en.css">

    <!-- Icon -->
    <link rel="shortcut icon" type="image/png" href="/images/icon.png"/>

    <!-- Custom Style -->
    <style>
        .field-icon {
            float: right;
            margin-right: 8px;
            margin-top: -30px;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/logo.png" alt="Training Link Logo" width="150px" height="auto"></figure>
                        <figure><img src="/images/signin-image.jpg" alt="sing in image"></figure>
                    </div>
                    <div class="signin-form">
                        <h3 class="form-title"><strong>Reset Password</strong></h3>
                        <!-- messages partial -->
                        <%- include('../partials/messages'); %>
                        <form action="/en/reset-password" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_pass"><i class="mdi mdi-lock"></i></label>
                                <input id="newPassword" name="newPassword" type="password" placeholder="New Password" />
                                <span id="new-password-field" class="mdi mdi-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="mdi mdi-lock"></i></label>
                                <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" />
                                <span id="confirm-password-field" class="mdi mdi-eye field-icon toggle-password"></span>
                            </div>
                            <input type="hidden" name="id" value="<%= id %>">
                            <div class="form-group form-button text-center">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Reset Password"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
    <script>
        $("#new-password-field").click(() => {
            $("#new-password-field").toggleClass("mdi-eye mdi-eye-off");
            let input = $("#newPassword");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $("#confirm-password-field").click(() => {
            $("#confirm-password-field").toggleClass("mdi-eye mdi-eye-off");
            let input = $("#confirmPassword");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
</body>
</html>